<ion-header>

  <ion-navbar>
    <ion-title>{{recipe.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 text-center>{{recipe.title}}</h2>
        <div class="subtitle" text-center>{{recipe.diff}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p text-center>{{recipe.desc}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ing of recipe.ingredient">
            {{ing.name}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="recipe.ingredient.length > 0">
      <ion-col text-center>
        <button clear ion-button (click)="addIngredientsToList()">Add Ingredients To Shopping List</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button outline block (click)="onEditRecipe()">Edit Recipe</button></ion-col>
      <ion-col><button ion-button block outline color="danger" (click)="onDeleteRecipe()">Delete Recipe</button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
